Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
Style:
  AngledHeaders:
    - nlohmann/.*
    - ixwebsocket/.*
    - Wt/.*
    - fmt/.*
    - catch2/.*
    - crow/.*
