[submodule "/vendor/crow"]
	path = vendor/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "/vendor/wt"]
	path = vendor/wt
	url = https://github.com/emweb/wt.git
[submodule "vendor/ixwebsocket"]
	path = vendor/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "b64"]
	path = vendor/b64
	url = https://github.com/hsorby/libb64.git
[submodule "nlohmann_json"]
	path = vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
