[submodule "/vendor/crow"]
	path = vendor/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "/vendor/wt"]
	path = vendor/wt
	url = https://github.com/emweb/wt.git
[submodule "vendor/ixwebsocket"]
	path = vendor/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "b64"]
	path = vendor/b64
	url = https://github.com/hsorby/libb64.git
