[Unit]
Description=Universal Device Frontend
After=network.target

[Service]
StandardOutput=null
Type=simple
Restart=always
ExecStartPre=/usr/bin/chmod -fR o-rwx /usr/local/bin/UniversalDevice/ssl
ExecStartPre=/usr/bin/chmod -fR g-rwx /usr/local/bin/UniversalDevice/ssl
ExecStartPre=/usr/bin/chmod -fR u-rwx /usr/local/bin/UniversalDevice/ssl
ExecStartPre=/usr/bin/chmod -fR u+r /usr/local/bin/UniversalDevice/ssl
ExecStart=/usr/local/bin/UniversalDevice/UniversalDeviceFrontendService

[Install]
WantedBy=multi-user.target

