[Unit]
Description=Universal Device
After=network.target

[Service]
StandardOutput=null
Type=simple
Restart=always
ExecStart=/usr/local/bin/UniversalDevice/UniversalDeviceService

[Install]
WantedBy=multi-user.target

